[user]
	email = oliver@assarbad.net
	name = Oliver Schneider
	signingkey = C779D8290E88590F

# Commands and operations
[advice]
	addIgnoredFile = false
[branch]
	sort = -committerdate
[color]
	ui = auto
	grep = auto
[commit]
	gpgsign = true
	verbose = true
	cleanup = scissors
[core]
	autocrlf = false
	longpaths = true
	fsmonitor = false
[diff]
	algorithm = histogram
	submodule = log
	context = 7
	colorMovedWS = allow-indentation-change
	colorMoved = default
[fetch]
	fsckobjects = true
	prune = true
	prunetags = true
[help]
	autocorrect = 0
[init]
	defaultBranch = main
[log]
	date = iso
	decorate = short
[merge]
	conflictstyle = diff3
[push]
	default = current
	autoSetupRemote = true
	followTags = true
[rebase]
	autostash = true
	missingCommitsCheck = error
[receive]
	fsckObjects = true
[rerere]
	enabled = true
[status]
	submoduleSummary = true
[submodule]
	fetchJobs = 8
	recurse = true
[transfer]
	fsckobjects = true

# External configuration
[include]
	path = ~/.gitrc.d/gitconfig.aliases
	path = ~/.gitrc.d/gitconfig.LOCAL
	path = ~/.gitrc.d/gitconfig.USER
